
#historyMap {
	height: 386px;
    left: 11px;
    position: absolute;
    top: -1px;
    width: 738px;
}

#flightOverlay{
	height: 386px;
    left: 11px;
    position: absolute;
    top: -1px;
    width: 738px;
    z-index:50;
    overflow:hidden;
}
#flightHistoryControls{	
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius:4px 4px 4px 4px;
    background: url("../images/layout/legend_bknd.png") repeat scroll 0 0 transparent;
    bottom: 120px;
    color: #FFFFFF;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 30px;
    text-align: center;
    text-shadow: 0 1px 0 #363636;
    text-transform: uppercase;
    width: 130px;
    z-index: 51;
}
#controlsPrevFlight{
    cursor: pointer;	
    position: relative;
    top: 2px;
    margin-left: 10px;
    margin-right: 5px;
}
#controlsNextFlight{
    cursor: pointer;
    position: relative;
    top: 2px;
    margin-left: 5px;
    margin-right: 10px;
	
}
.noHistoryMessage{
	/*position: absolute;
	top: -47px;
	left: -160px;
	width: 205px;
	height: 33px;
	background-image: url('../images/flighthistory/no_data_for_week.png');
	background-repeat: no-repeat;
	padding-top: 12px;
	text-align: center;
	font-size: 13px;
	color:#fff;*/
	background: none repeat scroll 0 0 black;
    cursor: pointer;
    height: 386px;
    left: 11px;
    opacity: 0.4;
    position: absolute;
    top: -1px;
    width: 738px;
    z-index: 12;
}
#rankingSliderContainer {
	right:80px;
}